[2017-09-13 13:52] srijs commented on #240
Wow, that's really interesting!

I'm not quite sure yet how this works under the covers (guess I have some reading up to do on `Remote`s), but I'll give it a shot tomorrow and see how it goes.

Will keep you posted.

[2017-09-13 14:22] alexcrichton commented on #240
Oh so since this was opened I [added an example](https://github.com/tokio-rs/tokio-core/blob/master/examples/echo-threads.rs) using `std::net` to farm out TCP connections to worker threads.

@rkusa your solution works but is subtly architecturally different, the main event loop that's accepting TCP connections is still where all the TCP sockets are associated with, so wakeup notifications will be

[2017-09-13 21:33] #243 closed

[2017-09-13 22:02] lhecker commented on #243
@alexcrichton Thanks for merging your fix. As soon as I can work on my project again I'll make sure to test the above spurious bug. 🙂

[2017-09-14 12:35] srijs commented on #240
@rkusa I've tried out your approach, and while it worked I decided to take a slightly different approach where I'm still sending the accepted `TcpStream` over a channel.

But my main learning I take away from this is that `TcpStream`s can in fact be sent to a different thread, and that thread can poll the future even though wake-up notifications are delivered to a different thread. I imagine Tokio

[2017-09-14 12:35] #240 closed

[2017-09-14 21:28] carllerche commented on #243
I can push a release whenever this is confirmed.

[2017-09-14 21:40] mathstuf opened #256 "Method on `Timeout` for reset with `Duration`"
There's a `reset` which takes an `Instant`, but if I want to reset it to a new `Duration`, I have to create a new one or call `Instant::now()` myself.

[2017-09-16 12:49] lhecker commented on #243
@alexcrichton @carllerche The first issue indeed is fixed. Thanks for that Alex!
But sadly the second issue with the race condition still exists on windows if my code is not incorrect. 😕

I updated [my POC repository](https://github.com/lhecker/tokio-core-windows-poc) to include the master branch version of mio (you need to check it out with git submodules).
After running `cargo build`, try to set

[2017-09-16 15:31] alexcrichton commented on #256
Sounds reasonable to me!

[2017-09-18 14:20] alexcrichton commented on #243
@lhecker I tried running that locally but wasn't able to reproduce, would you be able to create a program that reproduces this? Something which simulates both the server and the client in one application perhaps?

[2017-09-18 18:28] lhecker commented on #243
@alexcrichton Sure! But I don't know yet when I'll have time to do it. Coming weekend at the latest though.

[2017-09-18 22:11] lhecker commented on #243
@alexcrichton @carllerche Sacrificed a bit of my sleep, but was able to test it. Good news! It's probably a weird interaction of Windows' own software. 🙂

I updated [the POC](https://github.com/lhecker/tokio-core-windows-poc) with a integrated client (built on `std::net`) and couldn't reproduce my race condition after running it for quite a while.

What I believe might've been the case is that the

[2017-09-19 00:22] alexcrichton commented on #243
Thanks for the continued investigation! If it does pop up though and look like it's mio I can always help out in investigating

[2017-09-20 18:15] kpcyrd opened #257 "Document example with stateful process"
hey :)

I'm still trying to wrap my head around tokio and I have a simple application working. I'm accepting requests with tokio-proto and tokio-service and successfully reply to them. My problem is:

I'm listening for requests with tokio-uds in one thread, and also with tcp in another thread. I'd like to introduce a third thread (for simplicity) that both of my servers can communicate with, prefe

[2017-09-23 02:48] alexcrichton commented on #257
Sounds like a good idea to me, thanks for the idea!

I wonder, would a simple "database" work here? Maybe like a line based protocol with like `GET $KEY` and `SET $KEY $VALUE`? The shared state in this case would be the hashmap, but I'm not sure if that's "enough" shared state?

[2017-09-23 03:07] kpcyrd commented on #257
@alexcrichton yes, that's what I'm think about :) Ideally the hashmap would be global in a way that I can create two connections, send `SET foo bar` and then get the value back on the other connection with `GET foo`.

[2017-09-23 19:23] #257 closed

[2017-10-01 02:16] casey opened #259 "Add Debug impl for Timeout"
Noticed that it wasn't present when I tried to derive debug for a struct of mine that contained it. Would be great to have a tokio-provided implementation!

[2017-10-01 02:29] casey commented on #259
Also, I think the `missing_debug_implementations` lint will catch this kind of thing

[2017-10-02 06:00] imp opened #260 "Nicer {TcpSocket, UdpSocket}::bind()"
The `UdpSocket::bind()` from `socket::net` is easier to use due to accepting anything that is `ToSocketAddrs`

[code]

while that of the `tokio_core::net` wants only `SocketAddr`
[code]
It may be friendlier for consumers to emulate `std::net` interface.

Same goes for the `TcpSocket`

[2017-10-02 18:05] carllerche commented on #260
Thanks for the report.

We cannot take `ToSocketAddrs` as an argument because it is a blocking API. Aka, it implies DNS resolution in a blocking (block the thread fashion).

[2017-10-02 18:05] #260 closed

[2017-10-03 21:38] sfackler commented on #245
I'm fine with some platforms not being able to report a HUP.

I don't think read readiness will work - I can't be constantly waiting on a read since the request handler may not be ready for more data.

[2017-10-03 21:40] carllerche commented on #245
I'd say that this is definitely worth thinking about for the next iteration of Tokio. @sfackler have you commented re: this on the RFC?

[2017-10-03 21:43] sfackler commented on #245
Nope, I will do so though!

[2017-10-04 08:58] alexcrichton commented on #259
Sounds like a great idea to me! Would you be willing to send a PR?

[2017-10-04 21:12] alexcrichton commented on #245
@sfackler oh FWIW this may have been in the meantime, there's now a `poll_ready` funciton so you can explicitly check for HUP

[2017-10-04 21:50] cramertj opened #261 "Support Readiness Types with Signal Counters"
Currently, `IoToken` and the like rely upon being able to convert `mio::Ready` to and from `usize` so that it can be stored in an `AtomicUsize`. Similarly, `mio` internally represents `Ready` as a `usize`, so any platform-specific readiness information must be convertible to `usize` and back. This is fine for epoll-based implementations which only provide readiness notifications in the form of ind

[2017-10-04 22:22] j9brown commented on #261
In the general case things get even more interesting.  A Fuchsia port packet actually describes the *completion* of an asynchronous operation.  For a wait, the completion packet includes a bitfield of signals and a count.  However, we may define other asynchronous operations for which the completion packet would include different information, such as number of bytes transferred.

So ideally we wou

[2017-10-04 22:59] cramertj commented on #261
@j9brown Yeah, so in a future Fuchsia with support for more different packet types, I'd figure `Ready` notifications would basically just be a wrapper for a `Mutex<SmallVec<PacketContents>>`.

[2017-10-05 18:23] cramertj commented on #261
@j9brown I've been thinking more about it, and in a world with custom port packets like you describe, I think we'd be better off using our own event loop rather than trying to shoehorn our way into mio and tokio-core, which are both designed around epoll-style async signals rather than actual async messages, and are designed around a `PollEvented` which is `Send` and `Sync`. We can still reuse fut

[2017-10-05 18:39] j9brown commented on #261
Using a custom message loop may be more efficient overall.  For example, we will be able to take advantage of the fact that Fuchsia port packets include a 64-bit key which can be used to accelerate lookup of the appropriate callback to dispatch.  We'll also be able to avoid the burden of type erasure otherwise incurred by shoehorning through more abstract interfaces.

[2017-10-05 18:50] cramertj commented on #261
@j9brown mio and tokio-core use those keys currently in order to dispatch to the appropriate task (though they use a `usize` key rather than a `u64` key, and I do the appropriate casting in the Fuchsia mio backend).

RE type erasure: I'm not sure quite what you're referring to here. There are a couple of instances of `Box<Future<...>>` trait objects, but they're used very sparingly for top-level `

[2017-10-06 00:00] alexcrichton commented on #261
This is indeed quite an interesting question! I agree though that I don't think this maps too well onto the current futures/tokio-core/PollEvented model. Most of futures/tokio are built around the ability to have spurious notifications and guarantees are few and far between. In that sense when you wake up a future you actually have no idea if it'll do work based on the wakeup, you just know that i

[2017-10-06 00:28] cramertj commented on #261
@alexcrichton My thought was to use the current futures trait but swap out `PollEvented`'s `IoToken` for a list of packets. Similar to how `Handle` gets passed around now, we could pass around a reference to Fuchsia's reactor, which individual `PollEvented`s could use to register their async event with their token and create a mapping from their token to (a) the current task so the future can be a

[2017-10-06 00:37] alexcrichton commented on #261
That sounds like it's definitely work! My only concern would be that at extreme scales you may run into two issues:

* The data structure and queues themselves may take up a good but of memory, and as a result could limit the overall capacity of a server. This is definitely an extreme though of course

* There may need to be a mechanism of back pressure to prevent these queues from being too long,

[2017-10-06 00:41] cramertj commented on #261
Yeah, I figured this came with a "light assumption" that once a future registers itself to receive events, it's getting polled every crank, and that every time it gets polled, it pull

[2017-10-06 00:43] cramertj commented on #261
Yeah, I figured this came with a "light assumption" that:
- once a future registers itself to receive events, it's getting polled every crank that events arrive for it
- every time it gets polled, it handles the full list of events and deregisters itself from receiving more events if it's getting too many to handle (and calls `task::notify()` so that it will be polled again).

[2017-10-06 00:47] alexcrichton commented on #261
Makes sense! In fact if these handles are not sendable then that is a great assurance perhaps that you are indeed consuming the events at an appropriate rate! You could even include debug asserts that all events are consumed each turn

[2017-10-06 02:42] j9brown commented on #261
To be honest, I don't know enough about Rust or the existing event loop implementations to comment intelligently on the proposal.  I will note a few goals, however:

1. IPC is the heart of Fuchsia so we want sending, receiving, and dispatching messages and their replies to be extremely efficient.
2. We'd like to be able to send and receive IPC messages without dynamic heap allocation.  FIDL v2 wil

[2017-10-06 02:48] j9brown commented on #261
For an example of why these goals are important, consider what it would be like to implement a file or network server in Rust which may at times be called upon to handle many thousands of transactions per second.

Clearly it's ok for some heap allocation and other bookkeeping related operations to take place, such as when a file or socket is opened, but we'd like to avoid introducing unnecessary o

[2017-10-06 03:13] asomers commented on #196
The problem is that `sendfile` isn't really  asynchronous.  On Linux, even if the socket is non-blocking, `sendfile` may block on disk I/O.  There's no way to prevent it from blocking on disk I/O.

On FreeBSD with UFS it's better, because `sendfile` will actually return early and do the disk I/O in the background.  But it won't do that with ZFS or any other file system.

[2017-10-06 03:37] asomers opened #262 "How to implement Promises with Tokio-Core?"
I'm coming from the world of [Seastar](http://www.seastar-project.org/).  Seastar has chainable futures, like Tokio.  But it also has Promises.  A Promise is an object that can be used to make Future ready.  Typically, you use them like this:
[code]
And then at some later time, the receiver of the `Promise` calls `promise.set_value()`, and suddenly its `Future` is ready.

I'm trying to do this sam

[2017-10-06 04:11] cramertj commented on #261
@j9brown Thanks for sharing the goals! That's really helpful. I'm fairly confident that the approach I've outlined will be able to meet those expectations, but as always we'll have to do some experimentation to figure out what works best.

To clarify, when I said "poll", I meant literally calling the `poll` function on the `Future` trait. If that function is being called, it means that the future'

[2017-10-06 04:11] #261 closed

[2017-10-06 04:23] cramertj commented on #261
@j9brown If you're looking for an equivalent, `Future::poll` is similar to `async_task.handler` in libasync.

[2017-10-06 04:38] carllerche commented on #261
The primary downside to a custom event loop is you lose the ability to run signal counters on the same thread as any existing rust libs built to support Tokio.

I'm open to make changes to Mio to better support this case, but starting with a custom event loop would be good if only to get something working and illustrate the case.

[2017-10-06 04:40] carllerche commented on #262
This sounds exactly like `sync::oneshot` in futures-rs. Is that correct?

[2017-10-06 04:47] cramertj commented on #261
Part of my concern is that the wins won't be immediately obvious. Most of the big differences will come when Fuchsia ports start delivering packets that contain more than just signal data (namely, the operation-dependent payloads @j9brown mentioned above).

[2017-10-06 04:52] asomers commented on #262
Actually @carllerche I don't think that solves my entire problem in this case, because I want my promise to be triggered by a future that doesn't yet exist at the time when I need to return a future.  But it looks like `tokio_core::reactor::Handle::spawn` may be able to help me, because I can call that from within my `poll` method.  I'll try using those two methods together.

[2017-10-06 08:03] tailhook commented on #196
@asomers, this is a different problem. Yes, `sendfile` must be called in a thread. Along with `open`, `stat` and other filesystem-related syscalls.

[2017-10-06 14:03] alexcrichton commented on #262
Ok sounds like oneshot and perhaps some other methods should solve this, so I'm going to close this.

[2017-10-06 14:03] #262 closed

[2017-10-06 16:54] j9brown commented on #261
Is it possible to abstract the protocol used to await signals so as to allow for different event loop implementations to provide compatible functions needed by existing rust libraries?

[2017-10-06 17:02] cramertj commented on #261
@j9brown Yes, that's what I'm working on (the futures-rs libraries). However, some Rust libraries depend on tokio-core to provide async networking primitives, and so they won't be immediately compatible with our event loop. If we want to use tokio-core in the future, tokio-core and mio will have to allow platform-specific expansions to the readiness functions they provide.

I suppose we could make

[2017-10-10 03:26] casey commented on #259
Yup! See #263

[2017-10-10 17:59] #259 closed

[2017-10-11 17:15] cramertj opened #264 "Reclaiming Slab Memory"
Currently, tokio-core uses the [`slab` crate](https://crates.io/crates/slab)  to timer [heaps](https://github.com/tokio-rs/tokio-core/blob/0868b97832277656c8f361b8aed43d4f373b804f/src/heap.rs#L22) and dispatch maps for [IO events and tasks](https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/mod.rs#L69). However, the [slab crate currently offers no way to reclaim memory](https://github.

[2017-10-11 17:53] carllerche commented on #264
The main issue here is not so much going to be the size of memory allocated by the slab, but more so that "live" entries in the slab could be scattered across the memory, keeping the pages alive.

Generally, inactive memory pages will be reclaimed by the OS as needed. Is that a fair assumption?

[2017-10-11 18:49] cramertj commented on #264
@carllerche That seems fair to me, although I'd add that the OS reclamation would be more heavy-weight and less precise than a slab or allocator `free`.

If we could find a way to keep the active elements isolated to a particular page of memory, that would help a lot (both for memory usage and cache performance).

[2017-10-12 18:06] mathstuf opened #265 "Document that sync APIs should not be backed by async implementations"
Due to Rust's thread safety guarantees, synchronous APIs cannot be backed by an async implementation with an embedded `Core` object due to the `!Sync + !Send` which it forces on the synchronous structure doing the internal "de-asyncification".

Tokio's documentation should discourage crates from making synchronous APIs by just piecing together an async implementation together with a local (usually

[2017-10-13 20:14] Michael-F-Bryan commented on #33
Has there been any update on this? I'm also working on a server program and it'd be nice to gracefully shut down to the server on some sort of signal.

[2017-10-14 14:55] alexcrichton commented on #265
Thanks for the report! This is something that we don't actually want to document, however, because we precisely want to use async apis to back sync implementations! The management of `Core`, however, is certainly something we we are looking to improve.

You may be interested in tokio-rs/tokio-rfcs#3 which I believe greatly improves this by avoiding the need for a `Core` in most situations.

[2017-10-14 14:55] #265 closed

[2017-10-14 16:10] mathstuf commented on #265
Yeah, I'm not thrilled about that either (mainly due to implicit runtime stuff, but maybe it won't be so bad). I forsee having to open many issues related to this in the future, but it'd be nice to document that synchronous APIs should be Send (and ideally Sync too) somewhere. Because otherwise it means you can't use that API through rayon (where I currently get blocked trying to used various crat

[2017-10-16 16:12] alexcrichton commented on #265
Certainly yeah! We should definitely document that "best practice" is to make sure that everything is `Send`. If you've got concerns about the RFC, though, please feel free to leave a comment!

[2017-10-16 16:13] alexcrichton commented on #33
@Michael-F-Bryan no there has not been progress on this in this crate, it will likely be closed as "no longer valid" once tokio-rs/tokio-rfcs#3 is implemented

[2017-10-16 16:15] alexcrichton commented on #264
Thanks for the report @cramertj!

It was my hope that we wouldn't have to worry about this for quite some time... It would be relatively straightforward today to add some shrink_to_fit calls but as @carllerche mentions the slab is proportionally sized by the largest active token, which is itself on the order of the maximum number of concurrent events at once. Even if we were to shrink the slab its

[2017-10-16 16:28] cramertj opened #266 "Interval is Infallible"
[`Intervall::poll` never returns an error,](https://tokio-rs.github.io/tokio-core/src/tokio_core/reactor/interval.rs.html#71) but its associated error type is `io::Error`. The error type should be changed to `enum Never {}` or similar (eventually `!` when it lands).

[2017-10-16 16:30] carllerche commented on #264
I've been thinking a bunch about this, I think that you could divvy up the memory into regions (where each region is a slab) and free a region when it is unused.

This would mean that there would be a free list per region and regions would be prioritized so that, eventually lower priority regions become unused.

This would work in the atomic case mentioned above and could even provide improved con

[2017-10-16 16:39] cramertj commented on #264
@carllerche Yes, I'd been thinking about a similar strategy of generation-based allocation, sort of a slab-of-slabs that would allow you to collect an entire slab once it was emptied.

[2017-10-16 16:52] Michael-F-Bryan commented on #33
Would you be able to elaborate on that a bit? Looking at the async/await example on that RFC it sounds like the user is given control, and therefore able to stop a server whenever they want, compared to the current model where a reactor is in charge and all we can do is schedule callbacks... Did I understand that correctly?

[2017-10-16 17:03] mathstuf commented on #265
I left my comments on the first version of that RFC. Others also brought up similar concerns, but they seem to have been deemed less important than the ergonomics goal. I did have one or two points that didn't seem to have made it to the new RFC. I'll reraise them.

[2017-10-16 17:17] alexcrichton commented on #266
Thanks for the report! I think we'll need an error here in the long run, however. It's possible for the core/reactor to disappear while the `Interval` itself is active, and I think we'd want that to resolve to an error?

[2017-10-16 17:23] cramertj commented on #266
Couldn't the same be said of any tokio-core-based `Future`? IIRC they will all fail to resolve if the reactor disappears. I don't see how you could ever prevent this, as the reactor could be dropped after a timeout has been scheduled, but before it has triggered.

[2017-10-16 18:26] alexcrichton commented on #266
You're right yeah, but futures with embedded handles are slightly different. If you spawn a future you're not holding on to it at all, but if you create an interval that's a handle to the reactor. In that sense we don't have a way to tell you the reactor is dropped when you spawn a future, but we do have a method of telling you once you create a handle to the reactor.

[2017-10-16 18:45] cramertj commented on #266
I guess I'm not convinced that it's worth it to force all users to accept these unhandle-able `io::Error`s in order to signal that the reactor has been dropped. Most if not all async applications using tokio will keep a single reactor core alive for the duration of the program (especially after the new tokio RFC), so it seems odd to force every future to handle this error case.

If we decide that

[2017-10-16 18:59] alexcrichton commented on #33
The main thrust of the RFC is to separate out the executor from the reactor itself, and the executor separated out has methods of being shut down and gracefully waiting for shutdown. In general each application has its own definition of graceful shutdown, so it would then be up to you to define the future for shutting down a server.

[2017-10-16 19:05] alexcrichton commented on #265
Ok, thanks!

[2017-10-16 19:09] alexcrichton commented on #266
Is this actually causing problems? In all the usage I've personally done of these types the error fits quite nicely into the surrounding future and rarely requires much fuss to get it to work. I agree that the reactor being dropped is quite rare, but I didn't think this was a problem to begin with :(

[2017-10-16 19:22] cramertj commented on #266
IMO, forcing users to `map_err` in `handle.spawn(interval.for_each(|()| ...).map_err(|_| ()))` is unfortunate. It suggests that users should be properly handling or logging an error, which is misleading since an error can never actually occur. In a world where `spawn` took a `Future<Item = (), Error = Never>` (or a `spawn_infallible` was added), the `map_err` wouldn't even be necessary.

I'm fine

[2017-10-16 19:31] carllerche commented on #266
I imagine that this discussion would be more relevant to the ongoing Tokio revamp RFC as it impacts timers.

[2017-10-16 22:15] alexcrichton commented on #266
@cramertj hm I'm not sure I quite understand, if you do `interval.for_each(..)` doesn't it not matter what error type the interval has, if any? The `for_each` closure will add an error type regardless?

I agree though that this should certainly be documented what errors can come up!

[2017-10-16 23:53] cramertj commented on #266
@alexcrichton `for_each`'s error type is [`S::Error`](http://alexcrichton.com/futures-rs/futures/stream/struct.ForEach.html), where `S` is the original input stream.

[2017-10-17 15:36] alexcrichton commented on #266
Hm I think I may still be missing something? I don't think we can get away with a "void error type" here because the error can legitimately happen, and in that case aren't you required to deal with *some* error? I'd imagine that "some error" vs "no error" is a pretty big distinction to make, but given that I think we should buy into "some error" (due to the reactor/timer going away) it'd necessita

[2017-10-17 16:27] cramertj commented on #266
I guess that's the real answer to my question here-- I wasn't sure this was true. The only reasonable way that `Interval::poll` could return an error was if one of these [`handle.send`](https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/timeout_token.rs#L34) calls failed [here](https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/mod.rs#L605) and that error was bubbled back u

[2017-10-17 19:18] cramertj commented on #266
I suppose you could always notify and all futures again when the reactor is dropped, but after you've closed the `UnboundedReceiver`. This would allow futures to gracefully respond to the reactor closing. If this is the intention, I'm totally fine with closing this and just adding some documentation explaining that `Interval` will only error if the reactor core has been dropped.

[2017-10-18 22:40] donhcd opened #267 "BorrowMutError on HTTP request"
On tokio-core-0.1.10 I'm getting this `BorrowMutError` when calling `borrow_mut()` on [this line]( https://github.com/tokio-rs/tokio-core/blob/1c88b8f3362b94edd15d869dfa9bd3e55214d9ba/src/reactor/io_token.rs#L37), which comes from the future defined on [this line](https://github.com/sigmacomputing/tokio-gcp/blob/b014e2c6a745c449a2c473ed46933c248f29a962/src/client.rs#L170), which is just supposed t

[2017-10-18 23:20] twmb commented on #267
Is it possible to post a code snippet that you've found to reliably panic?

[2017-10-18 23:31] alexcrichton commented on #267
Thanks for the report! Looking at the stack trace nothing jumps out to me as something that would cause this borrow error. Like @twmb mentioned, do you have a way I could reproduce locally? Similarly, did this happen recently? What compiler are you using?

[2017-10-18 23:46] donhcd commented on #267
Thanks for the responses! Unfortunately I don't have an easy repro to share -- I only just found this behavior when adding a test, which is all tied up with GCP and therefore requires secrets and stuff. I could probably manage to set up a sharable repro, but it's a chunk of work and will take some time. About the compiler, I just noticed I was still on `rustc 1.21.0-beta.2 (133aefc9f 2017-09-02)`.

[2017-10-19 02:40] donhcd commented on #267
Okay! Putting together a repro actually wasn't as bad as I thought. [This gist](https://gist.github.com/donhcd/5135df93e168abe1a7be464ef2779c08) should have everything you need to repro. (I'm hoping I correctly configured the service account so that it doesn't any useful privileges.) You should be able to just copy/paste/run the contents of `run.sh` into your terminal as long as your directory doe

[2017-10-19 03:26] alexcrichton commented on #267
Thanks for the reproduction! Internally I see ` unsafe { &*HYPER_CLIENT.load(Ordering::SeqCst) }`, could that be actually unsafe and causing a data race here?

[2017-10-19 04:43] twmb commented on #267
My guess:

- First `GoogleCloudClient::new` creates a thread and uses `HYPER_CLIENT.store(...` with `Core(<for tok>)`
- `Core(<for tok>).run(futures::empty)` is called (which never returns) and falls into `Core`'s internal `poll` (which does `borrow_mut`)
- Second `Goo..::new` creates a thread and uses `HYPER_CLIENT.store(...` with `Core(<for bq>)`
- `Core(<for bq>).run(futures::empty)` is called

[2017-10-19 21:03] donhcd commented on #267
@twmb That makes sense to me. Thanks everyone for taking a look and debugging my code 😅 !

[2017-10-19 21:03] #267 closed

[2017-10-19 22:21] alexcrichton commented on #266
@cramertj

You are indeed right! I suppose I'm trying to think of this wrt the futures as well, where for example I believe the implementation at https://github.com/alexcrichton/futures-timer correctly handles this. (that's my current plan for reimplementing this repo's interval in terms of).

[2017-10-22 01:22] baloo opened #268 "Getting E back from reactor::poll_evented::PollEvented<E>"
my use case is:
   - create a socket with a lib
   - set socket in non-blocking
   - connect the socket
   - register socket with tokio (with `PollEvented`).
   - once socket is connected, deregister the socket from tokio.
   - mess with the socket (with the lib)
   - once mess is done,
   - register the socket again with tokio

the `PollEvented<E>.deregister` signature is `deregister(self, handle

[2017-10-23 05:16] cetra3 opened #269 "Tokio does not appear to drop chained future on disconnect"
This is a weird one, and I'm not sure where the problem lies exactly but I am seeing that connections are hanging around when doing a hyper proxy-like configuration, so it might be a bug in hyper too.

What I'm seeing though is when I'm trying to stream a proxy request (like in [this example](https://github.com/mehcode/shio-rs/blob/master/examples/proxy/src/main.rs)), the TCP connection drops off

[2017-10-23 15:40] alexcrichton commented on #268
Thanks for the report! I think this definitely makes sense to solve in the tokio-rs/tokio-rfcs#3 design!

[2017-10-26 20:38] cramertj opened #273 "Make Sink::SinkItem a generic parameter"
This would allow `Sink`s to accept values of multiple different types. I'm sure there's a reason it's an associated type right now, but I can't quite figure out why that is.

Example:
[code]

The same goes for the tokio-io [Encoder](https://docs.rs/tokio-io/0.1/tokio_io/codec/trait.Encoder.html) trait:

[code]

This would solve [this tokio-io issue](https://github.com/tokio-rs/tokio-io/issues/54),

[2017-10-26 20:43] cramertj commented on #273
Conceptually, `Item` is an input to a `Sync` or `Encoder`, rather than an output like it is in `Stream`, `Future`, and `Iterator`. As an input, it makes sense for it to be variant. For other examples of this design, see the `Fn<...>` traits, which use `Args` as a generic parameter, and `Output` as an associated type.

[2017-10-26 20:53] cramertj commented on #273
Actually, this issue belongs in the futures-rs repo, so I'll close this and move it.

[2017-10-26 20:53] #273 closed

[2017-10-27 06:46] surajprak commented on #220
Can you please give a work around to run a future which is non 'static  using handle.spawn()? I don't have option to use run() as it is already getting used to run another future.

[2017-10-27 16:25] alexcrichton commented on #269
When making a proxy there typically needs to be some form of the `shutdown` syscall, but maybe that's not happening?

[2017-10-28 12:51] Kixunil commented on #220
@surajpayu You can `join` futures and run them both.

[2017-10-30 02:23] cetra3 commented on #269
I'm not sure where the issue is. I've raised this with hyper as well just to cover bases, but it does seem to be a tokio-level bug. They have alleviated one issue by [decoupling tokio-proto](https://github.com/hyperium/hyper/pull/1362), but that has caused some new ones  (namely successful connections don't drop now).

It's might be because tokio is only expecting one socket per future to be activ

[2017-10-30 20:55] cramertj opened #274 "Readable includes hup, but writable doesn't"
I've spent quite a while looking at this code and trying to understand it, but I'm failing. [`poll_read`](https://github.com/tokio-rs/tokio-core/blob/0868b97832277656c8f361b8aed43d4f373b804f/src/reactor/poll_evented.rs#L133) checks the bits included in [`read_ready`](https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/mod.rs#L810), which includes `hup`. [`poll_write`](https://github.com

[2017-10-30 22:34] cramertj opened #275 "Deregister Eventeds before dropping"
If https://github.com/carllerche/mio/issues/753 is implemented, then tokio-core will have to deregister `Evented`s rather than expecting them to be deregistered on `Drop`. However, I believe we can make this change now (backwards-compatibly).

[2017-10-30 22:44] alexcrichton commented on #275
I sort of disagree, but we can discuss on carllerche/mio#753

[2017-10-31 03:40] cramertj commented on #269
I think I might have tracked this down [here](https://github.com/tokio-rs/tokio-proto/issues/194#issuecomment-340648596).

[2017-10-31 03:55] cramertj commented on #269
@cetra3 Can you confirm that https://github.com/tokio-rs/tokio-proto/pull/195 fixes your leak?

[2017-10-31 06:47] cetra3 commented on #269
@cramertj I have tried that PR, but this doesn't resolve the issue.

I added the following to my Cargo.toml:

[code]

This also doesn't appear to resolve https://github.com/hyperium/hyper/issues/1353 which I have tested by using the following `Cargo.toml` with the pasted code there:

[code]

[2017-10-31 06:51] cramertj commented on #269
@cetra3 Shucks! I figured they must be the same issue. I'll try and figure out what's going on here when I have another moment-- perhaps there's a related fix that needs to happen somewhere else.

[2017-10-31 06:58] cetra3 commented on #269
@cramertj  No worries.  There is a workaround in hyper by not even using the tokio-proto at all that appears to work, but it'd be nice if it was fixed for tokio-proto too.

[2017-10-31 17:45] alexcrichton commented on #274
My own personal understanding of the `hup` signal is that it sort of happens sometimes only on Unix. IIRC The "sometimes" is that not all types of fds (files, sockets, pipes, etc) will generate a hup signal. I then am only aware of hup translating to "the remote end has hung up, there is no more data to read". That, I believe, is basically a signal for EOF (read returning 0)

I'm unaware of how hu

[2017-10-31 17:57] cramertj commented on #274
The issue I have is that you almost never only want to be awoken only on a read signal or a write signal-- in every case I can imagine, you'd always want to be awoken if the thing you were waiting to read from or write to has closed so that you can perform some garbage collection, issue an error, etc.

[2017-11-01 15:27] alexcrichton commented on #274
Is there a situation where something blocks today when it should wake up? If so that's probably just a bug that needs to be fixed?

[2017-11-01 16:12] carllerche commented on #269
I don't think that this is a tokio-core issue. If you think it is, could you provide a reproduction that only uses tokio-core (no additional dependencies). Thanks!

[2017-11-01 16:58] cramertj commented on #274
Well, in order for Fuchsia to get notifications of closed signals I've had [this section](https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/mod.rs#L840) patched in our tree for a while to return `CLOSED` signals from the `hup` function. However, this means that `poll_read` returns `Ready(())` when the channel is closed, not just when it is readable. Additionally, [`need_read`](https:/

[2017-11-01 17:42] cramertj commented on #269
@carllerche Yes, it probably belongs on tokio-io or hyper.

[2017-11-01 22:15] alexcrichton commented on #274
Hm ok so today the only reason read/write are asymmetric are so that you can `split` and then use the two halves as you would normally otherwise do. Handling of hup/closed/etc are then just enabling those use cases

[2017-11-02 03:58] cramertj commented on #274
Sorry, I don't follow why `split` makes it so that you only want `poll_read` to see the `closed` signal, but not `poll_write`. Can you explain more? BTW, I'm happy to close this issue and switch to IRC if there's good motivation here I'm just not understanding. I will say, though, that as someone trying to use the tokio-core API to build their own futures types, this inconsistency has caused confu

[2017-11-03 09:35] canndrew opened #276 "impl Stream/Sink for UdpSocket"
I'd like to use a `UdpSocket` as a `Stream`/`Sink` of `(SocketAddr, Vec<u8>)`. Is there a reason these impls don't already exist? I'm aware I can use `Framed`, but I'd prefer not to have to write a `UdpCodec` for converting bytes to bytes. IMHO `UdpCodec` belongs in some higher-level library and `tokio-core` should just provide a UDP API for sending/receiving packets of bytes.

[2017-11-04 16:48] klausi opened #277 "Denial of Service vulnerability in example tinyhttp"
Originally found in https://github.com/hyperium/hyper/issues/1358

the tinyhttp example in tokio-core is vulnerable to DoS attacks because it does not catch IO errors and the server crashes. That happens if the number of file descriptors is exhausted for the server process, resulting in a "Too many open files" IO error.

An attacker just needs to flood the server with TCP connections, proof of con

[2017-11-06 15:16] alexcrichton commented on #274
Er sorry I think this is all being read into a little too much. We have a `split` function and we have general I/O objects and the goal is to make them "just work". That is, when you `Read` and get `WouldBlock` (or write) it's tokio's job to wake you up when you're otherwise ready to go. Everything after that is just an implementation detail. On Unix it just so happens (I believe) that hup wakes u

[2017-11-06 16:17] alexcrichton commented on #276
Thanks for the report! This sort of raises similar questions to https://github.com/tokio-rs/tokio-io/pull/78 in that it's not clear what the right type is here (`Vec<u8>`? a reference counted buffer? etc).

I could imagine though that having a codec or two baked in would also be fine though!

[2017-11-06 16:23] #277 closed

[2017-11-06 17:06] carllerche commented on #269
Ok, I'm going to close this now. Please re-open the issue on the repo & cross reference 👍

[2017-11-06 17:06] #269 closed

[2017-11-06 17:56] tailhook commented on #277
Is it really closed by 1fe55b2? While errors are skipped I believe socket will be always ready after an error, so the example will use 100% CPU untill some thread release some file descriptors. This is also a bad example for someone who processes requests in the same thread, as it will never release resources.

[2017-11-06 18:41] alexcrichton commented on #277
I guess not? I don't really want to dilute the example with reams of error handling though...

[2017-11-06 22:51] cetra3 commented on #269
@cramertj @carllerche Should I raise an issue there?

[2017-11-06 22:56] carllerche commented on #269
Probably hyper, that said i would be surprised if there isn't already one.

[2017-11-07 04:20] canndrew commented on #276
I'm fine with either `Bytes` or `Vec<u8>`, I just think it's odd that I need to use a codec to do this since a UDP socket is already a stream of byte-chunks. I'm forced to go up a level of abstraction, then use `BytesCodec` to go back down.

An alternative, (though it may be less efficient, I haven't thought about this too hard), would be to have `Sink`/`Stream` adapters that turn a sink/stream of

[2017-11-07 15:20] alexcrichton commented on #276
Indeed yeah! There's crate like [tokio-serde-bincode](https://crates.io/crates/tokio-serde-bincode) to do that for you

[2017-11-07 21:54] cramertj commented on #276
@canndrew Would https://github.com/tokio-rs/tokio-io/issues/82 help solve your usecase?

[2017-11-07 21:57] klausi commented on #277
Thanks Alex!

Just tested the exploit from above and it does not work anymore. The server keeps running and as soon as the attack is over it keeps on serving responses as expected without jumping to 100% CPU.

I have to check the other examples at https://tokio.rs/ , because they look vulnerable, too.

[2017-11-07 23:37] tailhook commented on #277
Well, while rust is quite fast, this is reproducible anyway:
1. Set `ulimit -n 50` and run example
2. Run apache benchmark against the example `ab -n 100000 -c 1000 http://127.0.0.1:8080/`
3. It hangs at about 90000 requests on my laptop with the following strace:
[code]
On faster machine it may require other tuning, but it's clearly not a solution. It just leaves a bit more time for other threads

[2017-11-08 05:44] canndrew commented on #276
That would certainly be a more efficient of way doing it, I see the problem now with just making `UdpSocket` a `Stream` of `Bytes`. Maybe what I *really* want is for `Stream::Item` to have a lifetime parameter so that a `Stream` can return a `&mut [u8]` to an internal buffer. hmm...

[2017-11-09 02:03] cramertj commented on #274
Right, I'm asking _why_ a `hup` makes `poll_read` return `Async::Ready`-- why does `poll_read` check for readable | hup, rather than readable? The answer that I concluded from reading usages of `poll_read` is that it's used to signal when a socket it closed, so that a read will be attempted and the closed socket will be discovered. Is that not correct? If it is correct, why does that signal not al

[2017-11-09 02:06] cramertj commented on #274
TL; DR: why do [this](https://github.com/tokio-rs/tokio-core/commit/4dd3d30f2a2ba62007da0a0485a92757f9693385#diff-2fd149f4f4f9ed6bb9e7fe26db411db2R134) and [this](https://github.com/tokio-rs/tokio-core/commit/4dd3d30f2a2ba62007da0a0485a92757f9693385#diff-2fd149f4f4f9ed6bb9e7fe26db411db2R153) not match?

[2017-11-10 09:54] alexcrichton commented on #274
This may be a case where it's good to play around? You can try removing `hup` from the readable bit and I believe a test should fail.

[2017-11-15 18:06] alexchandel opened #278 "No documentation on combining TcpListener with non-TCP tokio types"
Is it possible to run a TcpListener & another tokio type (like tokio-process, or reading from a pipe) on the same Core object?

The examples in the documentation, like from [here](https://tokio.rs/docs/getting-started/pipeline-server/), only ever run a single TcpListener:
[code]

Using TcpServer from tokio-proto is out of the question here, since it only runs TCP services & blocks the thread.

[2017-11-15 19:12] alexchandel commented on #278
From IRC I've heard it could be done by spawning `server` with `handle.spawn(server)`, rather than running it. Is that right? Could that feature more prominently in the documentation somewhere?

[2017-11-18 08:26] alexcrichton commented on #278
Yeah I think this is mostly a documentation issue, and this should definitely be handled in the coming weeks as we revamp the documentation. I don't think we'll gain a lot from having a specific bug like this open, though, so I'm going to close this.

[2017-11-18 08:26] #278 closed

[2017-11-30 07:05] sfackler opened #280 "Allow timers to be reset without a new deadline"
I've recently refactored tokio-io-timeout to reuse the same `Timeout` rather than repeatedly creating and destroying them. When I need to "turn off" the timeout, I can use reset, but that requires me to provide a new deadline. It'd be nice if there was a variant that didn't, and simply unregistered the timeout from the timer heap.

https://github.com/sfackler/tokio-io-timeout/blob/master/src/lib.r

[2017-11-30 07:06] sfackler commented on #280
Similarly, it'd be nice if you could create a `Timeout` without a deadline.

[2017-11-30 21:36] alexcrichton commented on #280
Seems plausible to me to add!

[2017-12-03 19:13] klausi commented on #277
Ah, good catch! So the tinyhttp server does not crash anymore but it "hangs" and does not answer requests anymore when ApacheBench has sent a fair amount of requests. So we still have a denial of service vulnerability here, can you reopen this @alexcrichton ?

I was able to trigger the behavior with
[code]
The `-r` flag ignores socket errors and `-s` increases the timeout.
When ApacheBench reaches

[2017-12-04 01:08] alexcrichton commented on #277
It's important to keep in mind that this is just an example, intended to show off how to use Tokio and some basics of what's going on. Examples that come with hundreds of lines of error handling are misisng the purpose of the example (learning other pieces). If we'd like to have an example dedicated to "how to accept TCP sockets the right way" that sounds great to me!

As I mentioned before though

[2017-12-04 08:33] klausi commented on #277
Hm, would it make sense then to create a subfolder "insecure" in examples and move tinyhttp there? That way it would be obvious that people should not use it in production. Then we could create a prodhttp example with all the error handling that is needed to securely run this.

[2017-12-04 14:59] alexcrichton commented on #277
Again I think that unfortunately detracts from the point of the example, not to highlight "insecurity" but instead to show an example of using Tokio. I think it would be fine for a comment to be placed saying "this may not always be what you want, look to $specific_location to see how this could be structured"

[2017-12-07 13:55] 3Hren commented on #240
Currently I use the following hack (unix):

- Accept socket form listener.
- Take fd using `AsRawFd`.
- `libc::dup`.
- Create `net::TcpListener` from fd.
- Create tokio `TcpListener::from_stream` and associate with new event loop.
- Close previous fd.

It works, but looks scary. I think it's the common pattern to have a single thread for accepting connections and N worker threads to serve them usi

[2017-12-08 00:33] #280 closed

[2017-12-09 22:47] Marwes opened #285 "Reactor is not RefUnwindSafe"
Specifically this is because of the use of a `UnsafeCell` inside a long list of types so I am not sure which part exactly needs to implement this (guessing it is the `Queue` that would assert that it is safe?).

[code]

[2017-12-10 15:07] alexcrichton commented on #285
Thanks for the report! I think though that since aribtrary trait objects are contained, I'm not sure this can be unwind safe? Could you also elaborate a bit on why you'd like the reactor to be unwind safe?

[2017-12-10 15:37] Marwes commented on #285
Chain  of consequences here are.

Need to dispatch futures from an interpreter ->
I need to hold a `Reactor` in the interpreter -
The test library I use for some tests catches panics and I pass interpreters across this boundary ->
Need to make the gluon interpreter `RefUnwindSafe` (which `Remote` is the only part that is not)

Nothing I can't work around locally but if it can be fixed upstream the

[2017-12-10 21:07] alexcrichton commented on #285
Ok thanks for the explanation! My point here though is that the reactor *isn't* unwind safe as it contains arbitrary trait objects, so I don't actually think we can fix this at the `Core` layer. That being said I was hoping to be able to help out with the chain of things that led to this, but I'm not so sure now :(

[2017-12-10 21:35] Marwes commented on #285
Ah, didn't get that `Remote` holds arbitrary trait objects. I suppose that if it were to only _hold_ arbitrary trait objects but not execute any code in them then it could be made `RefUnwindSafe`, (As it is right now I think it _executes_ arbitrary objects as well).

[2017-12-12 04:21] alexcrichton commented on #285
Oh sorry I thought this was `Core` not `Remote`! In that sense I think this should definitely be `RefUnwindSafe` most likely (although this may best be tested against tokio-rs/tokio perhaps

[2017-12-12 10:43] flosse opened #286 "Changelog"
Is there a changelog?

[2017-12-15 15:48] ricochet1k commented on #220
Would it be possible to add a tokio_core::reactor::lifetime module with lifetime variants of Core and Handle, and have the regular tokio_core::reactor forward to that implementation with 'static?

[2017-12-16 01:43] YetAnotherMinion commented on #269
I tracked down why the sockets are not being shutdown to a seemingly bizarre code in tokio-core, where if you are using a reference to a `TcpStream`, then shutdown is a no-op. It does not touch the `self.io` at all.

[code]
Which is called by
[code]
Which comes from tokio-io using calling the AsyncWrite version of shutdown because of its generic implementation.
[code]

Why is there a different ver

[2017-12-16 20:07] carllerche commented on #269
Ok, this is due to `AsyncWrite::shutdown` being named confusingly: https://github.com/tokio-rs/tokio-io/issues/80

It looks like there is no bug and the confusing name of `AsyncWrite::shutdown` is a known issue that will be fixed in the next release, so I am going to close this. Please let me know if I am wrong.

Thansk for digging into this.

[2017-12-16 20:09] carllerche commented on #220
The executor functionality of Tokio is being extracted out. This means that you will be able to plug in any arbitrary executor, including one that can support futures with lifetimes.

I'm going to close this issue now. That said, someone may want to open an issue on futures-rs to ask for a scoped `CurrentThread` executor. All the needed machinery is already present.

[2017-12-16 20:09] #220 closed

[2017-12-16 20:10] carllerche commented on #286
I opened https://github.com/tokio-rs/tokio/issues/77 to track this in the new crate.

[2017-12-16 20:10] #286 closed

[2018-01-01 21:00] dl00 opened #287 "Example for more complex UdpServer Sink Handling"
I am attempting to write a UdpServer which responds to packets received through `UdpFramed`. however I run into difficulties when using `Sink` because it is consumed upon a call by `Stream::forward` when making a reply. I have tried placing the future returned by `Stream::forward` to an instance variable, but it is not possible to clone (reasonably) when a call to `Handler::spawn` is required as w

[2018-01-03 03:47] khaledkbadr opened #290 "Encoding error doesn't show up in tutorial example"
In the first example of [Tokio's tutorial](https://tokio.rs/docs/getting-started/simple-server/), the `decode` function returns an error if it has invalid UTF-8. I hacked the decode function a bit to return that error no matter what, but when I ran the server and simulated the error the connection was dropped (which I surely want) but that error showed up neither in the `stderr` nor in the respons

[2018-01-03 04:21] kamyuentse commented on #290
Seems this issues related to [tokio-io](https://github.com/tokio-rs/tokio-io), I think you can get some logs like `attempting to decode a frame` and `attempting to decode a frame` if you open the `trace` level log.

[2018-01-03 07:20] khaledkbadr commented on #290
@kamyuentse nope, I didn't get anything new output using `trace` level log.

[2018-01-03 08:00] kamyuentse commented on #290
@khaledkbadr Can you provide your code snippet and the current `trace` level log you got?

[2018-01-03 08:20] khaledkbadr commented on #290
@kamyuentse this is my snippet

main.rs
[code]

But when I run the app with `RUST_LOG=trace cargo run`; which I think is how to set log level to trace; I get nothing when sending the requests.

[2018-01-03 08:28] kamyuentse commented on #290
Guide to enable logger:

- Add this line `pretty_env_logger = "0.1"` to your `Cargo.toml` under `[dependencies]` entry
- Add `extern crate pretty_env_logger;` to `main.rs`
- Finally, add `pretty_env_logger::init().unwrap();` at the begining of `main` function then run again

[2018-01-03 08:32] khaledkbadr commented on #290
This is the logs result when I made the request that returned the error

[code]

[2018-01-03 08:38] kamyuentse commented on #290
Notice those lines: `TRACE:tokio_io::framed_read                     : attempting to decode a frame`

If succeed in decoding something, you can see the following pair:

[code]

Refer https://github.com/tokio-rs/tokio-io/blob/master/src/framed_read.rs#L274 for more detail.

[2018-01-03 08:40] khaledkbadr commented on #290
yup, I reached the same point debugging. And it didn't reach the second trace `frame decoded from buffer` meaning there was an error alright. Actually, I'm suspecting

[code]

It always returns an `Ok`

[2018-01-03 08:46] kamyuentse commented on #290
If you return an error in `decode` function, the connection would be closed silently. So, for now, what is your problem?

[2018-01-03 08:47] khaledkbadr commented on #290
the silently part, shouldn't it log the error message or return it. Or should I change something to allow that to happen?

[2018-01-03 08:53] kamyuentse commented on #290
In my opinion, if your `decode` function returns an error, that means your server got into trouble when handling this request, I think closing the connection is right behavior.

If you want to keep the incoming bytes, I think you can buffer them (do not consume those bytes in `buf: &mut BytesMut`or create your own buffer area), then return a `Ok(None)` instead.

[2018-01-03 08:55] khaledkbadr commented on #290
no no, I agree with you. it should close the connection alright (which I want). but in the example, the `decode` method returns an error with message `Err(io::Error::new(io::ErrorKind::Other, "invalid UTF-8"))`, hence I was under the impression that along with closing the connection, I'd see `invalid UTF-8` somewhere.

[2018-01-03 09:02] kamyuentse commented on #290
You can add `error!(".....")` in your `decode()` function.

cc @alexcrichton

Should we add `error!("....")` in [tokio-io::framed_read](https://github.com/tokio-rs/tokio-io/blob/master/src/framed_read.rs#L274) to log this error?

[2018-01-03 15:09] alexcrichton commented on #290
Thanks for the report! Unfortunately I believe this is a bug with tokio-proto which at the framing level currently drops some errors on the floor. Is there an isolated tokio-core/tokio-io example though that exhibits this behavior?

[2018-01-09 00:14] alexcrichton commented on #287
Thanks for the report! Have you tried using `split` perhaps to get two distinctly owned objects?

[2018-01-09 00:26] dl00 commented on #287
yes, that is what I have already been doing. However, every time I try to call `send`, the Sender gets consumed, meaning that it technically cannot be accessed by another asynchronous part of the program without calling `wait()`, blocking the event loop.

I am using `Core` and assigning jobs through handlers, so since some of those handler tasks will end up sending packets, I have found it to be a

[2018-01-09 05:33] alexcrichton commented on #287
Yes while one sink is being sent on you can't simultaneously send another, but you in general don't need to block the event loop but instead would rather plumb around the future to ensure that it only sits on the one `Core` running the program.

[2018-01-09 05:53] dl00 commented on #287
What would be the best way to do that (hence the example)? I have tried using a shared `Future<Item=Sink<>, Error=()>` to handle this async, but this does not work very well when it comes to applying the send to a task.

[2018-01-10 18:09] alexcrichton commented on #287
Oh we definitely need better examples here, we just need to figure out what to write down! If you've got a relatively self-contained gist or such it'd probably be best to go from there.

[2018-01-10 19:22] dl00 commented on #287
yea I will prepare a gist hopefully within the next 24 hours and get back to you with it. I will get it as close as I can to being what I think you would want to show but it will not work fully. Hopefully that will show what I mean.

[2018-01-11 00:02] dl00 commented on #287
here, this should be helpful: https://gist.github.com/anonymous/1d591a67ae5cddcc118aa42eef04af39

[2018-01-11 21:30] alexcrichton commented on #287
Thanks for the gist @dl00! So I think the problem here can be boiled down to the fact that you've got a number of clients that are all trying to send a message to the same sink. For a situation like that if this were synchronous you might use a mutex, but we unfortunately don't have a futures-powered mutex right now.

Instead though what I might recommend is something like an mpsc channel. If you

[2018-01-13 00:10] dl00 commented on #287
Yea, a mutex would not make any sense anyway since the whole thing is single threaded.

You are right, a channel may make the most sense. I was just trying to be overly careful since I was not sure if using an unbounded sink would make sense for this kind of system (since packets could potentially take long to send on a slow connection). I have no problem sticking with that if that is what you wou

[2018-01-16 16:41] alexcrichton commented on #287
Oh well the other option is a mspc bounded channel perhaps. Would that work for you?

[2018-01-16 17:18] dl00 commented on #287
How would that work? Would I have to clone the sender or something?

[2018-01-16 19:29] alexcrichton commented on #287
Indeed! You'd create a sender per task in that case.

[2018-01-16 20:34] dl00 commented on #287
But then how do you pipe the mpsc recipients all to the Udp sink? The sink gets consumed when you call `forward` or `send_all` I thought. That was the problem that I ran into with that, unfortunately.

[2018-01-18 15:52] alexcrichton commented on #287
Yes in this case you'd have a separate task that used the mpsc receiver to pipe that into a UDP socket, and that'd just be running continuously in the background sorta.

[2018-01-22 18:36] dl00 commented on #287
Are you planning to make an example for this or should the issue just be closed? That sounds like a good solution.

[2018-01-25 10:43] flosse opened #294 "Question: How to create a sync wrapper around a async API"
Hi,
I'm building a [modbus library](https://github.com/slowtec/tokio-modbus) based on tokio.
The combination of `tokio_core`, `tokio_proto`, `tokio_proto` and `tokio_service` leads to a great API :)
Now there are situations where it would be great to use this API in a synchronous context.
Do you have any idea how to create a wrapper to use the async library synchronously?

Here is a naive non-work

[2018-01-25 20:56] alexcrichton commented on #294
Thanks for the report! In general you'll want to use `core.run` to be the synchronous bridge for this, if you use that instead of `wait_future` does it work for you?

[2018-01-25 21:07] flosse commented on #294
I see, so I add the `Core` instance into my wrapper?
I'll try it tomorrow.

[2018-01-25 21:10] alexcrichton commented on #294
That's one option, yeah! You can also pass it in optionall as well.

[2018-01-26 14:19] flosse commented on #294
It seems to work :)

Here is my simple wrapper:
https://github.com/slowtec/tokio-modbus/blob/a8f380e957618edfd74a62c49f64e4c269f5fb45/src/client.rs#L75

[2018-01-26 14:19] #294 closed

[2018-01-26 23:56] ericho opened #296 "Compress and connect examples doesn't work together"
I'm seeing a behavior trying to run the `compress` example, If I follow the step described in the example to use the command:

[code]

Then there's no response from the compress example, however if I run:

[code]

Then everything works fine. I was trying to debug as a learning task but I got lost. Also, i'm not sure if this is a bug or an expected behavior.

I'll appreciate any advice to debug thi

[2018-01-28 03:38] #296 closed

[2018-01-28 03:38] alexcrichton commented on #296
Thanks for the report, and nice catch!

[2018-02-02 10:14] realcr opened #298 "Waiting short periods of time with tokio_core::reactor::Timeout"
This issue is based on [this post](https://users.rust-lang.org/t/waiting-short-periods-of-time-with-tokio-core-reactor-timeout/15378) on the Rust programming language forum.

I want to create a task that is polled every short period of time. I try to do this using a Timeout.
After creating a new Timeout, one has to poll() it and have an Ok(Async::NotReady) result to make sure the task will be poll

[2018-02-02 16:23] carllerche commented on #298
Timeout granularity is 1ms. Anything less is "instant". This is due to operating system timeout granularity.

The yield approach is correct: `task::current().notiy()`. Ideally, there would be some shim over that, but there isn't one right now.

Hope this helps. I'm going to close the issue, but if you feel that it isn't addressed, please comment and I can reopen it.

[2018-02-02 16:23] #298 closed

[2018-02-08 19:03] dyatlov commented on #69
Wheel timer provides O(1) inserts and deletes.
Heap timer is O(logn) which means that every timer create/removal would lead to some kind of loop. So performance wise I guess that a hash has a better outcome..

[2018-02-09 10:20] evanw opened #299 "panic at "no Task is currently running""
I'm trying to write some multithreaded WebSocket code. I'm sending a Remote to another thread then calling spawn on it and sending a message inside the callback. For some reason, it works fine for a bit and then panics like this:

[code]

I'm not exactly sure how to debug this, especially since it only happens in a release build. Is it the case that there might not be a current task inside a call

[2018-02-09 17:13] evanw commented on #299
Closing this because I think I found a different way of doing this that doesn't cause a panic, at least at the moment.

[2018-02-09 17:13] #299 closed

[2018-02-11 19:48] George3d6 opened #300 "Problem with global variable lifetime in a single threaded context."
I have the following code:

[code]

Which refuses to compile with the error `status_map does not live long enough`

Seeing as status_map is declared in the outermost scope and the server is multithreaded, why would this happen ? Is there a way to achieve what I'm trying (accessing a variable declared inside main from inside the Future object).

[2018-02-11 20:13] #300 closed

[2018-02-12 17:19] carllerche commented on #300
`current_thread::spawn` requires a `'static` bound. This is because there is no guarantee that the stack stays around.

In your example, it looks like you can add some `move` statements to your callbacks to move `status_map` into the inner closure, then it should work.

[2018-03-08 19:18] seirdb commented on #156
Is there still interest in adding this to `tokio-core`/`mio`? I'm currently working on a tool where I need access to raw `Layer 2` packets.

I'm willing to take a slight detour from and work towards a PR for this issue/feature.

[2018-03-08 20:10] carllerche commented on #156
@seirdb I'd recommend opening a new discussion [here](https://github.com/tokio-rs/tokio/issues).

Since it looks like it integrates with `epoll` & co, this will probably work well as a crate that integrates w/ the tokio reactor.

[2018-03-08 22:43] valarauca opened #304 "Udp `recv` isn't implemented as borrow"
I'm really confused about this API decision, do I have to open a new socket every time I receive a datagram?

The provided examples are extremely unclear. I'm just trying to listen to a stream of DGRAM messages (syslog) without responding.

[2018-03-08 23:53] #304 closed

[2018-03-08 23:56] valarauca opened #305 "UdpFramed doesn't return incoming frames"
So I've implemented a simple server [here](https://github.com/valarauca/syslogsrvr). You can build this with `cargo build` and running it takes a `--socket` argument for the address it should listen on.

The goal was to test a udp based syslog application. All I as looking to do was conver the udp-datagrams to strings, and print them.

---

The problem is I see 1 datagram, then it just consumes 10

[2018-03-09 17:33] nayato opened #306 "cargo update -> CPU at 100% while idle"
repro:
`git clone https://github.com/nayato/length-server`
`cargo run` -> CPU is at 0%
`cargo update && cargo run` -> CPU is at 100%
I'd guess it's related to recent move to reformed tokio but didn't look closer yet.

[2018-03-09 17:44] carllerche commented on #306
Thanks for the report. I'll take a look.

[2018-03-09 18:26] carllerche commented on #306
I pushed a PR to `tokio`: https://github.com/tokio-rs/tokio/pull/212

With this patch, the server behaves normally. Once you confirm this, I can merge and push out a patch release fixing the issue.

[2018-03-09 18:40] nayato commented on #306
Tried patching tokio to your branch but tokio-core won't compile with it (neither 0.1 nor master):
[code]
Errors are:
[code]

[2018-03-09 18:44] carllerche commented on #306
@nayato it looks like patch has some wonky behavior w/ multiple crates in a single git repo. The following worked for me:

[code]

[2018-03-09 19:07] nayato commented on #306
Yes, patch fixes it.

[2018-03-09 19:25] alexcrichton opened #307 "0.1.13 breaks registering an fd on multiple event loops"
Since 0.1.13 the [tests for tokio-signal](https://travis-ci.org/alexcrichton/tokio-signal/jobs/351406534) have started failing with an error along the lines of `Error { repr: Os { code: 17, message: "File exists" } }`.

It looks like prints two successes in 0.1.12 and only one in 0.1.13:

[code]

[2018-03-09 19:43] carllerche commented on #306
Closed by tokio-rs/tokio#212

Also, I pushed a release to crates.io w/ the fix.

[2018-03-09 19:43] #306 closed

[2018-03-09 19:48] carllerche commented on #307
Thanks for the report.

I tried running the snippet w/ tokio-core 0.1.13 but get 2 successes. Do you have more info on how to reproduce? What OS, etc... maybe post the full Cargo.lock?

[2018-03-09 19:52] carllerche commented on #307
Ok, this does seem to happen on Linux only and not OS X.

[2018-03-09 19:58] alexcrichton commented on #307
Yes, the OS Travis is using in the test logs above is Linux and I was testing with Linux locally.

[2018-03-09 20:02] carllerche commented on #307
I opened https://github.com/tokio-rs/tokio-core/pull/308 which should fix the issue.

I used it to successfully run the tokio-signal tests. Would you mind double confirming this fixes the issue as you see it? I can release a fix once this gets merged.

[2018-03-10 04:23] #307 closed

[2018-03-10 14:33] ParadoxSpiral opened #310 "Updating from 0.1.12 to 0.1.14 breaks code"
Hi, I haven't investigated this much yet, but running a cargo update that does the following breaks my code (I've already determined that the serde/synapse-rpc updates are not at fault):
[code]

To repro:
- `$ git clone https://github.com/Luminarys/synapse.git && cd synapse && cargo run`
- `$ git clone https://github.com/ParadoxSpiral/axon.git && cd axon && cargo update && cargo run`
- Enter 127.0

[2018-03-10 21:00] carllerche commented on #310
Thanks for the report. I was not able to reproduce the issue locally on OS X. Would you mind providing a bit more info on the environment?

[2018-03-10 21:06] carllerche commented on #310
Also, is there a way to repro w/o the terminal UI? Maybe that is what is tripping me up.

[2018-03-10 21:35] ParadoxSpiral commented on #310
[Here's](https://0x0.st/sm5m.mkv) a video of the behaviour, first how it should be, then what happens after an update.
Note that eventually (after the timeout of 10 seconds) axon does get notified that it was connected, ~~but does not receive any RPC messages (the list of torrents/trackers is empty).~~ and only occasionally receives messages (via tokio streams implemented by rust-websocket) at the

[2018-03-11 07:00] carllerche commented on #310
Here is the problem: https://github.com/ParadoxSpiral/axon/blob/master/src/rpc.rs#L61-L62

It is not safe to use `Core` instances across threads. It just happened to work to date by luck.

[2018-03-11 07:06] #310 closed

[2018-03-11 09:40] ParadoxSpiral commented on #310
Oh, well then, sorry for the noise I guess :<

[2018-03-11 13:12] srijs opened #311 "Remote-related bug in tokio-core >= 0.1.13"
Hi!

It appears that the new versions of `tokio-core` based on `tokio` (`tokio_core` >= 0.1.13) have broken Rusoto (https://github.com/rusoto/rusoto/issues/1000).

I was able to reduce it to a simple example program that works correctly with `tokio_core` 0.1.12 (`tokio_io` 0.1.5), but breaks with `tokio_core` 0.1.13 or 0.1.14.

Here is the program:

[code]

The expected behaviour of the program is

[2018-03-11 13:23] srijs commented on #311
Upon further digging, if I replace

[code]

with

[code]

the program works as expected.

Hope that helps!

[2018-03-11 17:32] carllerche commented on #311
Thanks for the report. The simple repro case was very helpful.

I pushed #312 with a fix. Could you check against Rusoto to see if it fixes it?

[2018-03-11 19:31] pgerber commented on #311
Tested the fix, the issue I reported against Rusoto no longer occurs with the fix applied.

[2018-03-11 21:29] mitsuhiko opened #313 "Cannot tokio::spawn from Core::run"
I expected this to work:

[code]

However I get this error:

[code]

Crate versions used:

[code]

[2018-03-11 21:31] #311 closed

[2018-03-11 21:42] carllerche commented on #313
I posted #314 which should fix. Can confirm in your use case.

[2018-03-12 03:51] #313 closed

[2018-03-12 07:01] bluejekyll opened #316 "Regression with Timeouts and/or UdpSockets?"
I hadn't intended to upgrade tokio yet, but did after a cargo update. After running my standard integration test suites, one of my timeout tests started hanging. I haven't had time to investigate deeply, but wanted to notify as quickly as possible about this. This appears to be specifically related to Udp and not Tcp.

As I haven't had time to dig into why the test is hanging, I'm assuming it's no

[2018-03-12 15:20] bluejekyll commented on #316
Could this be related to #311? I’ll try and dig into the details when I have some time later today.

[2018-03-12 15:34] carllerche commented on #316
It still hangs w/ the fix from #311, so I will try investigating as well

[2018-03-12 15:38] bluejekyll commented on #316
Sorry! I forgot to give you a branch! tokio-core will need to be upgraded before reproducing.

[2018-03-12 16:19] carllerche commented on #316
I looked through the trust-dns source. I'm wondering if this is a case of "it just happened to work" before and the internal implementation change exposed a bug.

You create the timeout [here]: https://github.com/bluejekyll/trust-dns/blob/master/proto/src/dns_handle.rs#L304

The only place I see the timeout polled is [here]: https://github.com/bluejekyll/trust-dns/blob/master/proto/src/dns_handle.

[2018-03-12 16:35] bluejekyll commented on #316
Thanks for taking a look! I’ll double check the logic in that section and correct it.

[2018-03-12 20:08] carllerche commented on #316
I'm going to close this issue. If I am wrong, please comment and I can open it up again.

Cheers.

[2018-03-12 20:08] #316 closed

[2018-03-23 13:48] glebpom opened #317 "Backport critical fix in PollEvented from tokio crate"
Hi,

https://github.com/tokio-rs/tokio/pull/250 contains the critical fix in `PollEvented`. This fix should also be applied to `tokio-core` because this code was backported from `tokio` crate recently

[2018-03-23 15:56] carllerche commented on #317
Thanks for the reports. Have you verified that the issue is present here?

[2018-03-23 17:20] glebpom commented on #317
Absolutely. The missprint is in https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/poll_evented2.rs
In fact, we have observed a high CPU usage on slow connections after upgrading to latest version

[2018-03-23 17:22] carllerche commented on #317
Thanks. I'll try to get that fix released in a bit.

[2018-03-23 18:42] #317 closed

[2018-03-23 21:58] kpp commented on #305
It is ok since you wrote an infinite [loop](https://github.com/valarauca/syslogsrvr/blob/master/src/main.rs#L88) in your code:

[code]

[2018-03-23 22:00] kpp commented on #305
I would recommend you to read [udp-codec](https://github.com/tokio-rs/tokio/blob/master/examples/udp-codec.rs) example.

[2018-03-24 00:14] valarauca commented on #305
@kpp If you read the entire linked issue this _always_ returned `Result::Ok(Async::NotReady)`. I'm streaming about ~100KiB/s of data into the UDP socket (about 500bytes per datagram) and it never _is ready_. I'll only ever see 1 datagram. I'm only interesting in receiving streaming grams. Returning the `Ok(Async::NotReady)` just results in the program doing nothing forever.

If switched to a for l

[2018-03-24 02:53] carllerche commented on #305
@valarauca What version of tokio-core? There was a release earlier today w/ a bug fix that might be related.

[2018-04-01 14:29] buckle2000 commented on #156
@seirdb Maybe you mean [libpnet](https://github.com/libpnet/libpnet/)?

[2018-04-07 06:53] vorner opened #319 "cannot recursively call into Core"
Hello

It seems that by using `tokio-executor` under the hood, the behaviour changed in backwards-incompatible way. If inside one future I create a new core and try to run something in it, it panics with `cannot recursively call into Core` (https://github.com/tokio-rs/tokio-core/blob/master/src/reactor/mod.rs#L242).

I know this is an edge case and that I'd try to avoid it in a real application (I

[2018-04-07 14:57] carllerche commented on #319
This behavior was, in theory, never permitted. It was just never enforced.

Could you explain more how you were using it? It would probably be best to figure out a way around it.

[2018-04-07 16:20] vorner commented on #319
As I said, it's a test, this one: https://github.com/vorner/corona/blob/master/test/recursive_core.rs. I put some core-related things into TLS, and I wanted to check I don't mix it up if there are multiple and take turns or something. I can probably just throw the test out, when it comes to that. I'm just waiting for the waters to calm down before I port the whole library onto the new tokio anyway

[2018-04-07 16:34] bluejekyll commented on #319
If I’m understanding this properly, doesn’t this meant that two independent libraries can’t create Cores separately in the case where one might depend on the next?

Especially in the case of wrappers that might be attempting to create synchronous interfaces?

Do we need to enforce that a Core is the only Core on any particular thread?

[2018-04-07 16:47] vorner commented on #319
My understanding is you can run one core, let it terminate, then run another. But if you create one core, spawn a future into it and *inside that future* create another core and run it, it'll panic because you most likely don't want that. The inner core would be blocking inside the outer one and the outer one would not be able to execute futures at the time.

And in my understanding libraries shou

[2018-04-07 16:50] carllerche commented on #319
@bluejekyll as @vorner stated above, you can create an arbitrary number of cores per thread. What you cannot do is block on a core (call run) from within a future as that would be pretty disasterous to the Async runtime characteristics.

[2018-04-07 16:52] bluejekyll commented on #319
Is this safe?

https://github.com/bluejekyll/trust-dns/blob/master/resolver/src/resolver.rs#L126

Also, I know it’s not efficient, and I’ve planned to change it, but I’m concerned it’s not safe at the moment.

[2018-04-11 22:30] justinlatimer opened #322 "Updating to 0.1.17 causes a hang relating to timeouts"
It looks like updating `tokio-core` to 0.1.17 causes one of the integration tests in trust-dns relating to timeouts to hang.

Steps to reproduce:

1. Checkout https://github.com/bluejekyll/trust-dns
2. Run `scripts/run_tests.sh` (this should work, `tokio-core` is 0.1.16 in `Cargo.lock`
3. `cargo update -p tokio-core`
4. Run `scripts/run_tests.sh` - this test hangs: https://github.com/bluejekyll/tr

[2018-04-11 23:10] carllerche commented on #322
/cc @srijs Any chance I can convince you to take a look? 😸

[2018-04-12 01:02] bluejekyll commented on #322
So the big change looks to be the timer integration. I know that trust-dns has tickled various areas of timers in the past.

The specific test that's hanging is indeed timeout related, it can be run with:

[code]

Some of the other timeout tests are passing, so it's interesting this mocked one is failing.

[2018-04-12 02:29] bluejekyll commented on #322
Ok, I tracked this down to where the hang is occuring: https://github.com/bluejekyll/trust-dns/blob/master/proto/src/xfer/dns_future.rs#L217-L224

The last time we had an issue in this area it was because the Timeout wasn't being polled, in this case we end up in an infinite loop polling and always getting NotReady. Looking through the code, I don't see any obvious places where the Timeout poll re

[2018-04-12 06:18] srijs commented on #322
I‘m happy to take a look later today!

On Thu, Apr 12, 2018, at 12:29 PM, Benjamin Fry wrote:

[2018-04-12 10:52] srijs commented on #322
I think I'm getting an idea of what the problem is.

Setting a breakpoint on `Timer::process_queue` reveals that it is never called, because the executor never actually parks the timer. Since it's not doing that, the timer never gets to actually insert the queued entry into the timer wheel.

So why is the timer never parked? I suspect it's due to the `impl Stream` for `NeverReturnsClientStream`, w

[2018-04-12 14:40] carllerche commented on #322
Ah thanks for looking into this. They way you describe the problem makes total sense.

I believe that this PR would actually fix the issue https://github.com/tokio-rs/tokio/pull/313. It would result in Park being called each iteration which will fire timers.

[2018-04-12 15:30] srijs commented on #322
Yeah, that PR looks like it could be useful here! I'll try to test it out later.

[2018-04-16 15:31] bluejekyll commented on #322
I’ve been thinking about this, and I’m pretty concerned at the moment. I use the notify() solution for rescheduling futures in a lot of different areas. In most cases there is usually a poll on some io event that eventually breaks that loop, but I’ll have to review every usecase at this point.

In the specific test in question, I can’t think of a decent alternative without writing a ton more code.

[2018-04-17 07:10] justinlatimer commented on #322
I've tried to apply the patch from tokio-rs/tokio#313 using the following my `Cargo.toml`:
[code]
The test still hung with the patch applied, unless there was something else I needed to modify.

[2018-04-17 07:12] bluejekyll commented on #322
https://github.com/bluejekyll/trust-dns/pull/402 should work, doesn't need the "fair-turn" patch.

[2018-04-21 11:34] aep opened #323 "TCP_KEEPINTVL / TCP_KEEPCNT missing"
tokio_core::net::TcpStream::set_keepalive only lets you set TCP_KEEPIDLE, which isn't particularly useful.

resorting to nix::setsockopt over raw_fd works of course, but i suspect people will be confused, since the behavior when not setting TCP_KEEPINTVL is non-obvious, unless you know posix internals.

[2018-04-25 16:11] carllerche commented on #323
Thanks for this. I'm going to close this issue as tokio-core is deprecated, but Tokio generally follows mio's API (which, in turn, follows std). So, since the issue is currently open on the mio repo, this is kind of a "dup".

[2018-04-25 16:11] #323 closed

[2018-05-02 14:51] weiznich opened #324 "Getting a Illegal instruction segfault on arm (Raspberry Pi 1)"
(I'm quite unsure where to report this)

I'm trying to run some future related code on an old raspberry pi 1. After cross compiling a binary construction a reactor and spawning a future on it the program segfaults with an illegal hardware instruction error.
Programs without a reactor are running fine.

Example code:
[code]

Versions:
* Rustc: `rustc 1.25.0 (84203cac6 2018-03-25)`, `rustc 1.27.0-ni

[2018-05-08 02:56] cetra3 commented on #319
I'm hitting this issue with two libraries that manage their own cores (`actix-web` & `ldap3`). This is definitely a breaking change for me.

A few questions:

* Is this actually something that should be enforced by tokio?  If there is recursive cores then the inner one will block yes, but it should still work fine otherwise (and has been working for me in the past).
* If it is enforced, should it

[2018-05-08 15:33] carllerche commented on #319
Ah yes, that is unfortunate. However, nesting calls to `Core::run` is just not supported at this point. It never really was, it just was not enforced. The plan has always been to enforce it at some point.

I would rather dig in and figure out *why* you need to nest calls to `Core::run`, perhaps there is another way to go about doing it.

[2018-05-08 18:29] seanmonstar commented on #319
Actually, there are several cases where it will grind the thread to a halt. I've seen this reported before in hyper, where people have a `Core` running their server, and wish to start a client to pipe a request body to another location. They end up with `core.run(client.request(req_using_server_body))`, and so, the inner `Core` will block waiting for the incoming server body to make progress, but

[2018-05-08 23:44] cetra3 commented on #319
I agree in my case it'd probably make sense to make the trait I was working with futures-aware, but that will take some time to refactor.  I have basically just spawned a separate thread to work around it for the time being.

I still was initially horrified over the panic, as I was not expecting it to happen at all! It would be nice if there was a Result returned instead, so I can deal with this a

[2018-05-09 17:46] carllerche commented on #319
Yeah, we cannot break the signature of `run`. The current signature is unfortunate.

Would you mind submitting a PR that includes the snippet under the "panics" section of the docs?

[2018-05-09 19:07] carllerche commented on #322
Ok, I think this should be resolved now? If not, please let me know.

[2018-05-09 19:07] #322 closed

[2018-05-09 19:08] carllerche commented on #324
I would think that this is a rust issue and should be reported on rust-lang/rust?

[2018-05-09 19:08] #324 closed

[2018-05-14 02:02] cetra3 commented on #319
Ok, I will submit a PR

[2018-05-28 13:59] sergorl opened #326 "Server goes in uncontrolled cycles"
I try to create server with `tokio` and `tokio_io`. Server should able to receive datagram in special format:
{some number: `u64`} {space:  `' '`} {some data: `String`}. So I created module codec.rs:

[code]
And here is my module server.rs:

[code]
Then I start to run my server and connect to it with `telnet`. But when I send some line with view, for example:
`123 qwerty`
I see how my server recei

[2018-05-28 15:45] sergorl commented on #326
I solved my problem by changing method `decode(...)`:

[code]
I didn’t understand why it helps, but the idea was taken from [BytesCodec](https://docs.rs/tokio-io/0.1/src/tokio_io/codec/bytes_codec.rs.html#9-12)

[2018-05-28 15:45] #326 closed

[2018-06-10 10:32] saschagrunert opened #327 "Build for wasm32-unknown-unknown"
Hey there,

I want to use an RPC based technique like capnp-rpc for my client and server side web project. This lib relies on tokio-core, so my naive approach was to build it for the wasm32-unknown-unknown or wasm32-unknown-emscripten target to use it on the client side of the web app. Unfortunately the dependencies seem too tight for both compilers:

[code]

Do you think it would be useful to use

[2018-06-12 08:16] surajprak commented on #79
This will be useful feature, any idea when it will be done?

[2018-06-12 16:36] carllerche commented on #79
This crate is deprecated in favor of http://github.com/tokio-rs/tokio. New features are no longer being added. This feature is also provided in the new crate.

[2018-06-12 16:36] #79 closed

[2018-06-14 09:58] surajpayu opened #328 "Compilation error for version 0.1.9"
I am getting below error
error[E0061]: this function takes 1 parameter but 0 parameters were supplied
   --> /home/suraj.prakash/.cargo/registry/src/github.com-1ecc6299db9ec823/tokio-core-0.1.9/src/reactor/poll_evented.rs:276:39
    |
276 |         if let Async::NotReady = self.poll_read() {
    |                                       ^^^^^^^^^ expected 1 parameter

error[E0308]: mismatched types

[2018-06-26 01:30] ferristseng commented on #328
I was just running into this as well with `tokio-core-0.1.12`.

I ran `cargo update` and it upgraded `tokio-core`, and then it worked fine.

[code]

[2018-07-09 03:20] timClicks opened #329 "Proxy example - is reconnecting to the server every loop necessary?"
Apologies if this is the incorrect place to ask for help! I'm attempting to grok some of the examples and just wondering if I'm reading something correctly..

In the [proxy example](https://github.com/tokio-rs/tokio-core/blob/8cd731fe469166dfba316a67987532b77d8dcea4/examples/proxy.rs#L52), the code appears to connect to the remote server at every message?

[code]

Perhaps I'm making a mistake rega

[2021-09-18 01:56] pavlix commented on #198
A few notes…

`Arc<TcpStream>` is not usable for reader/writer clones passed to concurrent async blocks.

`TcpStream::split()` is not usable either because reader and writer are not independent and cannot be both moved each to its own async block;

The use case of the standard `TcpStream::try_clone()` is to create two completely independent channels (the dependency is moved to the operating system

[2022-08-10 09:42] decathorpe opened #331 "tests no longer compile due to the removal of the `tokio` feature in `flate2`"
It looks like tokio-core's dev-dependency on `flate2/tokio` was missed when the feature was removed:

c.f. https://github.com/rust-lang/flate2-rs/pull/292

[2022-10-11 19:30] ramiroaisen commented on #198
You can create a tokio broadcast channel and subscribe to it in the TcpStream handler fn, then when you get new messages you send them back to the TcpStream, no need to clone it.